@import "foundation_and_overrides";

.avatar {
  width: 200px;
  height: 150px;
}

.avatar-thum {
  width: 50px;
  height: 40px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 40px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    
}

.other-links {
	margin-right: 150px;
    margin-left: 350px;
}

.form-edit {
    max-width: 500px;
    margin-left: 15px
    
}


